extends base

block vars
    - var title = "Login"

block body
    h1 Log Into Your Account 

    form(method="POST", action="/login")
        span Email:
        input(type="test", name="email", required=true)
        span Password:
        input(type="test", name="password", required=true)
        input(type="submit", value="submit")

    if error
        p ERROR: #{error}